---
title: Forums
layout: docs
permalink: /forums/
---

<!--
TODO: Limit thread title length and add form validation to all input fields
-->

<script type="text/javascript">
    var repo = 'theumod/forums';
    var forumsUrl = "{{ site.github }}/forums{% if site.url == 'http://localhost:4000' %}-test{% endif %}";

    function getThreads() {
        // https://developer.github.com/v3/issues/#list-issues-for-a-repository
        // TODO: Get current, next, and last page numbers; add pagination
        // TODO: Color closed threads differently, else use show/hide
        // TODO: Use "state=all" to show all "threads"
        //<https://api.github.com/repositories/87469017/issues?page=2&per_page=10>; rel="next", <https://api.github.com/repositories/87469017/issues?page=5&per_page=10>; rel="last"

        $.ajax({
            url: 'https://api.github.com/repos/' + forumsUrl + '/issues?page=1&per_page=10',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(xhr) {
                if (accessToken != null && accessToken !== undefined) {
                    xhr.setRequestHeader("Authorization", "token " + accessToken);
                }
            },
            success: function(data, status, request) {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var thread_id = data[key].number;
                        var title = data[key].title;
                        var body = data[key].body;
                        var labels = data[key].labels;
                        var state = data[key].state;
                        var locked = data[key].locked;
                        var created = new Date(data[key].created_at);
                        var updated = new Date(data[key].updated_at);
                        var username = data[key].user.login;
                        var avatar_url = data[key].user.avatar_url;
                        var github_profile = data[key].user.html_url;
                        var replies = data[key].comments;

                        var thread = document.createElement('li');
                        thread.className = 'comment-list-item ghostIn';
                        thread.innerHTML ='<div class="comment-content"> \
            				<div class="comment-user-photo"> \
                                <span class="js-open-modal" data-target=".user-card" data-config=""> \
                                    <img src="' + avatar_url + '" class="" alt="user profile photo" /> \
                                </span> \
            				</div> \
            				<div class="comment-body"> \
            				    <div class="comment-header"> \
    								<h3 class="comment-username"> \
    									<a href="{{ site.url }}/forums/?t=' + thread_id + '" alt="' + title + '">' + title + '</a> \
    								</h3> \
    								<ul class="comment-meta"> \
            							<li class="comment-likes">' + replies + ((replies == 0 || replies > 1) ? " replies" : " reply") + '</li> \
            							<li class="comment-date">' + created.toLocaleString() + '</li> \
            						</ul> \
								</div> \
								<div class="blog-grid-meta"> \
									<span class="blog-grid-author">by <a href="' + github_profile + '" target="_blank">' + username + '</a></span> \
								</div> \
            				</div> \
            			</div>';
            			// TODO: Show thread_id somewhere
                        document.getElementById("thread-list").appendChild(thread);
                    }
                }
            },
            error: function(err) {
                alert("Error: " + JSON.stringify(err));
            }
        });
    }

    function getReplies(thread_id) {
        $.ajax({
            url: 'https://api.github.com/repos/' + forumsUrl + '/issues/' + thread_id + '/comments?per_page=9',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(xhr) {
                if (accessToken != null && accessToken !== undefined) {
                    xhr.setRequestHeader("Authorization", "token " + accessToken);
                }
            },
            success: function(data, status, request) {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var reply_id = data[key].id;
                        var body = data[key].body;
                        var created = new Date(data[key].created_at);
                        var updated = new Date(data[key].updated_at);
                        var username = data[key].user.login;
                        var avatar_url = data[key].user.avatar_url;
                        var github_profile = data[key].user.html_url;
                        var replies = data[key].comments;

                        var reply = document.createElement('li');
                        reply.className = 'comment-list-item ghostIn';
                        reply.innerHTML ='<div class="comment-content"> \
            				<div class="comment-user-photo"> \
                                <span class="js-open-modal" data-target=".user-card" data-config=""> \
                                    <img src="' + avatar_url + '" class="" alt="user profile photo" /> \
                                </span> \
            				</div> \
            				<div class="comment-body"> \
            				    <p class="comment-message">' + body + '</p> \
								<div class="blog-grid-meta"> \
									<span class="blog-grid-author">by <a href="' + github_profile + '" target="_blank">' + username + '</a></span> \
								</div> \
								<ul class="comment-actions"> \
            						<li class="comment-action-item"> \
            							<a class="comment-action-like " href="#"> \
            								<i class="fa fa-heart-o"></i> \
            							</a> \
            						</li> \
            						<li class="comment-action-item"> \
            							<a class="comment-action-reply" href="#"> \
            								<i class="fa fa-reply"></i> \
            							</a> \
            						</li> \
            						<li class="comment-action-item"> \
            							<a href="{{ site.url }}/forums/?t=' + thread_id + '&r=' + reply_id + '" alt="' + reply_id + '"> \
                                            <i class="fa fa-link"></i> \
            							</a> \
            						</li> \
            					</ul> \
            				</div> \
            			</div>';
                        document.getElementById("reply-list").appendChild(reply);
                    }
                }
            },
            error: function(err) {
                alert("Error: " + JSON.stringify(err));
            }
        });
    }

    function getThread(id) {
        // https://developer.github.com/v3/issues/#get-a-single-issue
        // TODO: Use accessToken if it is set and valid for 5000 vs. 60 rate limit
        $.ajax({
            url: 'https://api.github.com/repos/' + forumsUrl + '/issues/' + thread,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(xhr) {
                if (accessToken != null && accessToken !== undefined) {
                    xhr.setRequestHeader("Authorization", "token " + accessToken);
                }
            },
            success: function(data) {
                var thread_id = data.number;
                var title = data.title;
                var body = data.body;
                var labels = data.labels;
                var state = data.state;
                var locked = data.locked;
                var created = new Date(data.created_at);
                var updated = new Date(data.updated_at);
                var username = data.user.login;
                var avatar_url = data.user.avatar_url;
                var github_profile = data.user.html_url;
                var replies = data.comments;

                var thread = document.createElement('li');
                thread.className = 'comment-list-item';
                thread.innerHTML ='<div class="comment-content"> \
    				<div class="comment-user-photo"> \
    					<img src="' + avatar_url + '" class="" alt="user profile photo" /> \
    				</div> \
    				<div class="comment-body"> \
    				    <div class="comment-header"> \
							<h3 class="comment-username"> \
								<a href="{{ site.url }}/forums/?t=' + thread_id + '" alt="' + title + '">' + title + '</a> \
							</h3> \
    					</div> \
    					<p class="comment-message">' + body + '</p> \
                        <div class="blog-grid-meta"> \
							<span class="blog-grid-author">by <a href="' + github_profile + '" target="_blank">' + username + '</a></span> \
						</div> \
    					<ul class="comment-actions"> \
    						<li class="comment-action-item"> \
    							<a class="comment-action-like " href="#"> \
    								<i class="fa fa-heart-o"></i> \
    							</a> \
    						</li> \
    						<li class="comment-action-item"> \
    							<a class="comment-action-reply" href="#"> \
    								<i class="fa fa-reply"></i> \
    							</a> \
    						</li> \
    					</ul> \
    				</div> \
    			</div>';

                document.getElementById("thread-list").appendChild(thread);
                document.title = '{{ site.title }} - ' + data.title;

                if (replies > 0) { getReplies(thread_id) };
            },
            error: function(err) {
                alert("Error: " + JSON.stringify(err));
            }
        });
    }

    var thread;
    var page;
        
    $(document).ready(function() {
        setAccess('forums');

        if (accessToken != null && accessToken !== undefined) {
            $('#new-thread').html("New Thread");
        }
        
        var params = getParameter();
        thread = params[0];
        page = params[1];
        
        if (thread != null || thread !== undefined) {
            getThread(thread);
        } else if (page != null || page !== undefined) {
            getPage(page);
        } else {
            getThreads();
        }

        $('#create-thread').click(function() {
            createIssue(repo, $('#new-thread-form').serializeArray());
        });
    });
</script>

<noscript>
    <div class="note js-note blue">
        <h4 class="note-title">JavaScript supported browser required</h4>
        <p class="note-description">
            In order to view these forums, JavaScript must be allowed and enabled. A modern browser such as Chrome, Firefox, Safari, or similar browser with the latest web technologies and standards is also recommended. If you'd prefer, you can use the <a href="{{ site.github }}/forums{% if site.url == 'http://localhost:4000' %}-test{% endif %}">GitHub issues</a> site instead.
        </p>
    </div>
</noscript>

<span class="button blue js-open-modal helper mr10 mb10" id="new-thread" data-target=".new-thread-modal" data-config="">Login with GitHub</span>
<div class="modal-alt new-thread-modal">
    <div class="modal-alt-content">
    	<div class="review-form">
    		<form id="new-thread-form">
    			<input type="text" name="title" class="review-input" id="thread-title" placeholder="Enter a brief title here to describe your thread" />
    			<textarea name="body" class="review-input" id="thread-body" placeholder="Type the details here. Use can use the Markdown language to format."></textarea>
    			<div class="helper center">
    				<button class="button rounded large blue modal-alt-button js-close-modal-button" id="create-thread">
    					<span class="modal-alt-button-text">Create Thread</span>
    				</button>
    			</div>
    		</form>
    	</div>
    </div>
</div>

<div class="modal-alt user-card">
    <div class="modal-alt-content">
    	<div class="user-card">
            Test
    	</div>
    </div>
</div>

<div class="comments" id="article-comments">
	<ul class="comment-list" id="thread-list"></ul>
	<ul class="comment-list" id="reply-list"></ul>
</div>
