<div class="col-md-9 col-sm-6 col-xs-7">
    <nav class="right helper">
        <ul class="menu sf-menu js-menu">
            <li><a href="{% link index.html %}">Home</a></li>
            <li><a href="{% link download.html %}">Download</a></li>
            <li><a href="{% link plugins/index.html %}">Plugins</a></li>
            <li><a href="{% link faq.html %}">FAQ</a></li>
            <!--<li><a href="{% link changelog.html %}">Changelog</a></li>-->
            <li><a href="{% link api.html %}">API</a></li>
            <li><a href="https://community.umod.org">Community</a></li>
        </ul>
    </nav>
</div>
