<script id="plugin-card-template" type="text/template">
    <div class="col-md-3 hide">
        <div class="grid-view-elem js-grid-view-elem plugin-card">
            <div class="plugin-icon-area">
                <a href="[[name]]/">
                    <img src="[[icon_url]]" class="image" alt="[[name]]" />
                </a>
            </div>
            <div class="plugin-info">
                <h3 class="grid-view-elem-title">
                    <a href="[[name]]/">[[title]]</a>
                </h3>
                <p class="grid-view-elem-description">
                    <a href="[[name]]/">[[description]]</a>
                </p>
            </div>
        </div>
    </div>
</script>
