<script id="plugin-card-template" type="text/template">
    <div class="col-md-3 hide">
        <div class="grid-view-elem js-grid-view-elem plugin-card">
            <div class="plugin-icon-area">
                [[gamesupport]]
                <img src="[[icon_url]]" class="image" alt="[[name]]" />
            </div>
            <div class="plugin-info">
                <a href="[[name]]/">
                    <h3 class="title">[[title]]</h3>
                    <p class="description">[[description]]</p>
                </a>
                <div class="topics scroll">
                    <ul>[[topics]]</ul>
                </div>
            </div>
        </div>
    </div>
</script>
