<div class="header-back header-back-simple header-back-small">
    <div class="header-back-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-info page-info-simple">
                        <h1 class="page-title">
                            {{ include.title | default: "Forums" }}
                        </h1>
                        <h2 class="page-description">
                            {{ include.body | default: "Ask questions, get support, request plugins, and talk about uMod and supported games." }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
