---
title: API Overview
description: {{ site.data.api.overview.description }}
layout: api
icon: info
permalink: /api/
---

<div class="category-info helper pt0" id="{{ page.title | slugify }}">
    <h3 class="category-title">
        <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#{{ page.title | slugify }}">
            <i class="fa fa-link"></i>
        </a>
        {{ page.title }}
    </h3>
    <p class="category-content">{{ site.data.api.overview.intro }}</p>
</div>
{% for row in site.data.api.overview.points limit: 3 %}
    <div class="row">
        {% for point in row[1] %}
            <div class="col-md-4">
                <div class="box box-small-icon">
                    <i class="box-icon fa fa-{{ point.icon }} fa-2x" alt="box icon"></i>
                    <h4 class="box-title">{{ point.title }}</h4>
                    <p class="box-description">{{ point.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
