---
title: Plugins
description: Expand your server functionality with one or many plugins
layout: docs
---

<div class="row">
    <div class="col-md-12">
        <div class="container plugins-index-header">
            <div class="search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="searchinput" placeholder="Search Plugins">
            </div>
            <div class="dropdown">
                <label for="sortby">Sort by</label>
                <select name="sortby" class="button small stroke blue dropdown-select">
                    <option value="title">Title (A-Z)</option>
                    <option value="last_updated">Last Updated</option>
                    <option value="newest">Newest</option>
                    <option value="most_starred">Most Starred</option>
                    <option value="most_watched">Most Watched</option>
                </select>
            </div>
            <label id="gridtoggle" class="button small stroke blue">
                <input type="checkbox" name="gridtoggle">
                <i class="gridicon fa fa-th-large" aria-hidden="true"></i>
                <i class="listicon fa fa-th-list" aria-hidden="true"></i>
            </label>
        </div>
        <div id="plugins-index">
            <div class="container">
                <div class="grid-view js-grid-view">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div id="plugins-index-pagination" class="container">
            <ul>
                <li>
                    <a id="firstbutton" class="button stroke small blue pagebutton">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a id="prevbutton" class="button stroke small blue pagebutton">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="button stroke small blue pagebutton" data-id="0" value="">1</a>
                </li>
                <li>
                    <a class="button stroke small blue pagebutton" data-id="1" value="">2</a>
                </li>
                <li>
                    <a class="button stroke small blue pagebutton" data-id="2" value="">3</a>
                </li>
                <li>
                    <a class="button stroke small blue pagebutton" data-id="3" value="">4</a>
                </li>
                <li>
                    <a class="button stroke small blue pagebutton" data-id="4" value="">5</a>
                </li>
                <li>
                    <a id="nextbutton" class="button stroke small blue pagebutton">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a id="lastbutton" class="button stroke small blue pagebutton">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include plugin-card.html %}

<script type="text/javascript">
    var cardtemplate;
    var pluginsdata = {};
    var currentids = [];
    var rendered = false;

    var sortby = "title";
    var itemsperpage = 12;
    var currentpage = 0;

    $(document).ready(function () {

        cardtemplate = $("#plugin-card-template").html();

        $.getJSON('/plugins.json', function (data) {
            pluginsdata = data;
            currentids = pluginsdata.sort_by[sortby];

            let index = $("#plugins-index");

            // URL params

            let url = new URL(window.location);
            let params = new URLSearchParams(url.search.slice(1));

            if (params.has('sortby')) {
                let val = params.get('sortby');
                if (val != sortby && (val === "title" || val in pluginsdata.sort_by)) {
                    sortby = val;
                    $('select[name=sortby]').val(val);
                } else {
                    params.set('sortby', sortby);
                    UpdateUrl(params);
                }
            }

            if (params.has('page')) {
                let num = parseInt(params.get('page')) - 1;
                currentpage = Math.min(Math.max(num, 0), Math.ceil(currentids.length / itemsperpage) - 1);
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            }

            // Event listeners

            $('select[name=sortby]').change(function () {
                let val = $(this).val();
                if (val == sortby || !(val === "title" || val in pluginsdata.sort_by))
                    return;

                sortby = val;
                currentpage = 0;
                RenderIndexPage();
                params.delete('page');
                params.set('sortby', sortby);
                UpdateUrl(params);

                // TODO: Save to session storage https://www.w3schools.com/jsref/prop_win_sessionstorage.asp
            });

            $('input[name=gridtoggle]').click(function () {
                $("#plugins-index").toggleClass("list-mode", $(this).is(":checked"));
                RenderIndexPage();
                params.set('view', ($(this).is(":checked") ? "list" : "grid"));
                UpdateUrl(params);

                // TODO: Save to session storage https://www.w3schools.com/jsref/prop_win_sessionstorage.asp
            });

            // Pagination buttons

            $('a#firstbutton').click(function () {
                if (currentpage == 0)
                    return;
                currentpage = 0;
                RenderIndexPage();
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            });

            $('a#prevbutton').click(function () {
                if (currentpage == 0)
                    return;
                currentpage -= 1;
                RenderIndexPage();
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            });

            $("a.pagebutton[value]").click(function (obj) {
                let num = parseInt($(obj.target).attr("value")) - 1;
                if (currentpage == num)
                    return;
                currentpage = num;
                RenderIndexPage();
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            });

            $('a#nextbutton').click(function () {
                if ((currentpage + 1) * itemsperpage >= currentids.length)
                    return;
                currentpage += 1;
                RenderIndexPage();
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            });

            $('a#lastbutton').click(function () {
                if ((currentpage + 1) * itemsperpage >= currentids.length)
                    return;
                currentpage = Math.ceil(currentids.length / itemsperpage) - 1;
                RenderIndexPage();
                params.set('page', currentpage + 1);
                UpdateUrl(params);
            });

            // TODO: Default to list view on mobile
            if (params.get('view') == "list") {
                let toggle = $('input[name=gridtoggle]');
                toggle.checked = true;
                toggle.click();
            }


            if (!rendered) // If not already rendered
                RenderIndexPage();
        });

    });

    function RenderIndexPage() {
        rendered = true;

        let index = $("#plugins-index");
        index.css("opacity", "0"); // Hide plugins index

        if (sortby in pluginsdata.sort_by)
            currentids = pluginsdata.sort_by[sortby];

        let newhtml = "";

        for (i = currentpage * itemsperpage; (i < (currentpage + 1) * itemsperpage && i < currentids.length); i++) {
            newhtml += CreatePluginCard(currentids[i], pluginsdata.all[currentids[i]]);
        }
        $("#plugins-index .js-grid-view>.row").html(newhtml);

        // Fade in each card separately with a delay
        $("#plugins-index .js-grid-view>.row>.col-md-3").each(function (i, obj) {
            setTimeout(function () {
                $(obj).removeClass("hide");
            }, i * 32);
        });

        index.css("opacity", "1"); // Show plugins index

        // Update pagination

        let lastpage = Math.ceil(currentids.length / itemsperpage) - 1;

        $("a.pagebutton[data-id]").each(function (i, obj) {
            let pagenum;

            // Offset the buttons near the first and last pages
            if (currentpage < 3)
                pagenum = i + 1;
            else if (currentpage > lastpage - 3)
                pagenum = i + lastpage - 3;
            else
                pagenum = i + currentpage - 1;

            $(obj).attr("value", pagenum);
            $(obj).html(pagenum);

            if (pagenum == currentpage + 1) {
                $(obj).toggleClass("stroke", false);
                $(obj).toggleClass("small", false);
                $(obj).toggleClass("currentpage", true);
            } else {
                $(obj).toggleClass("noleftborder", pagenum == currentpage + 2);
                $(obj).toggleClass("stroke", true);
                $(obj).toggleClass("small", true);
                $(obj).toggleClass("currentpage", false);
            }
        });

        if (currentpage <= 0) {
            $('a#firstbutton').attr('disabled', true);
            $('a#prevbutton').attr('disabled', true);
            $('a#nextbutton').removeAttr('disabled');
            $('a#lastbutton').removeAttr('disabled');
        } else if (currentpage >= lastpage) {
            $('a#firstbutton').removeAttr('disabled');
            $('a#prevbutton').removeAttr('disabled');
            $('a#nextbutton').attr('disabled', true);
            $('a#lastbutton').attr('disabled', true);
        } else {
            $('a#firstbutton').removeAttr('disabled');
            $('a#prevbutton').removeAttr('disabled');
            $('a#nextbutton').removeAttr('disabled');
            $('a#lastbutton').removeAttr('disabled');
        }

        $("#plugins-index-pagination").css("opacity", "1");
    }

    function CreatePluginCard(id, data) {
        return cardtemplate
            .replace(/\[\[name\]\]/g, data["name"])
            .replace(/\[\[icon_url\]\]/g, data["icon_url"] || ("https://www.gravatar.com/avatar/" + id + "?s=262.5&d=identicon"))
            .replace(/\[\[title\]\]/g, data["title"])
            .replace(/\[\[description\]\]/g, data["description"]);
    }

    function UpdateUrl(p) {
        window.history.replaceState({}, '', window.location.pathname + '?' + p);
    }
</script>
