---
title: Plugins
description: Expand your server functionality with one or many plugins
layout: docs
---

<div class="grid-view js-grid-view plugins-list">
    <div class="row">
        {% for plugin in page.plugins %}
            <div class="col-md-3">
                <div class="grid-view-elem js-grid-view-elem plugin-card">
                    <div class="plugin-icon-area">
                        <a href="{{ plugin.name }}/">
                            {% if plugin.icon_url %}
                                <img src="{{ plugin.icon_url }}" class="image" alt="{{ plugin.name }}" />
                            {% else %}
                                <img src="https://www.gravatar.com/avatar/{{ plugin.id }}?s=262.5&d=identicon&r=PG" class="image" alt="{{ plugin.name }}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="plugin-info">
                        <h3 class="grid-view-elem-title">
                            <a href="{{ plugin.name }}/">{{ plugin.name | humanize }}</a>
                        </h3>
                        <p class="grid-view-elem-description">
                            {{ plugin.description }}
                        </p>
                        {% if plugin.license != nil %}
                            <img src="https://img.shields.io/github/license/{{ site.plugins_org }}/{{ plugin.name }}.svg?style=flat-square" class="badge" alt="{{ plugin.license.name }}" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
