---
layout: docs
---

<div class="row">
    <div class="col-md-9">
        <div class="main-content">
            {% if page.more_info %}
                {% include toc.html html=page.more_info sanitize=true %}

                {{ page.more_info }}

                <!-- TODO: Inject anchors for headings
                <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#{{ page.title | slugify }}">
                    <i class="fa fa-link"></i>
                </a>-->
            {% else %}
                <p>
                    This plugin has no additional information about it. Please let the author know or feel free to contribute a <a href="{{ page.plugin.html_url }}/new/master?readme=1">README.md</a> via GitHub or <a href="{{ page.plugin.html_url }}/issues/new?title=Plugin+page+is+lacking+additional+information&body=Please+add+a+README.md+file+to+provide+additional+information+at+{{ site.url }}{{ page.url }}">open an issue</a> to request more information.
                </p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="sidebar js-sidebar-fixed">
            <div class="widget">
                <div class="box plugin-icon">
                    <object data="https://raw.githubusercontent.com/{{ site.plugins_org }}/{{ page.plugin.name }}/master/icon.png" class="image" width="262" height="262">
                        <img src="http://www.gravatar.com/avatar/{{ page.plugin.id }}?s=253&d=identicon&r=PG" class="grayscale" alt="{{ page.plugin.name }}" />
                    </object>
                </div>
            </div>
            <div class="widget">
                <a href="{{ page.plugin.name }}.cs" class="button helper mb30 large full blue" download="{{ page.plugin.name }}.cs">Download Now</a>
                <a href="{{ page.plugin.html_url }}" class="button helper mb30 large full green">Contribute at GitHub</a>
            </div>
            <div class="widget">
                <h3 class="widget-title">Contributors</h3>
                <ul class="widget-recommended-products">
                    <li class="widget-recommended-product">
                        {% avatar lukespragg size=67 %} <!-- TODO: {% avatar {{ contributor.name }} size=67 %} -->
                        <a href="#" class="widget-recommended-product-link">
                            <h5 class="widget-recommended-product-link-title">lukespragg <!-- TODO: {{ contributor.name }} -->
                                <i class="fa fa-angle-right"></i>
                            </h5>
                            <p class="widget-recommended-product-link-description">Placeholder</p> <!-- TODO: {{ contributor.bio }} -->
                        </a>
                    </li>
                    <li class="widget-recommended-product">
                        {% avatar mughisi size=67 %}
                        <a href="#" class="widget-recommended-product-link">
                            <h5 class="widget-recommended-product-link-title">mughisi
                                <i class="fa fa-angle-right"></i>
                            </h5>
                            <p class="widget-recommended-product-link-description">Placeholder</p>
                        </a>
                    </li>
                    <li class="widget-recommended-product">
                        {% avatar Ryan-J-D size=67 %}
                        <a href="#" class="widget-recommended-product-link">
                            <h5 class="widget-recommended-product-link-title">Ryan-J-D
                                <i class="fa fa-angle-right"></i>
                            </h5>
                            <p class="widget-recommended-product-link-description">Placeholder</p>
                        </a>
                    </li>
                </ul>
                <ul class="widget-recommended-products">
                    <li class="widget-recommended-product">
                        {% avatar nogrod size=67 %}
                        <a href="#" class="widget-recommended-product-link">
                            <h5 class="widget-recommended-product-link-title">nogrod
                                <i class="fa fa-angle-right"></i>
                            </h5>
                            <p class="widget-recommended-product-link-description">Placeholder</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <div class="number-box">
                    <div class="number-icon">
                        <i class="pe-7s-star"></i>
                    </div>
                    <div class="number-wrapper">
                        <span class="number-rotator js-animate-number" data-number="{{ page.plugin.stargazers_count }}">
                            {{ page.plugin.stargazers_count }}
                            <span class="number-description grey">stargazer{% if page.plugin.stargazers_count != 1 %}s{% endif %}</span>
                        </span>
                    </div>
                </div>
                <div class="number-box">
                    <div class="number-icon">
                        <i class="pe-7s-look"></i>
                    </div>
                    <div class="number-wrapper">
                        <span class="number-rotator js-animate-number" data-number="{{ page.plugin.watchers_count }}">
                            {{ page.plugin.watchers_count }}
                            <span class="number-description grey">watcher{% if page.plugin.watchers_count != 1 %}s{% endif %}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget-title">Tags</h3>
                <ul class="tags">
                    <li class="tag-item">
                        <a href="#">admin</a>
                    </li>
                    <li class="tag-item">
                        <a href="#">placeholder</a>
                    </li>
                    <li class="tag-item">
                        <a href="#">universal</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
