---
title: Plugins
description: Expand your server functionality with one or many plugins
layout: docs
---

<div class="grid-view js-grid-view">
    <div class="row">
        {% for plugin in page.plugins %}
            <div class="col-md-4">
                <div class="grid-view-elem js-grid-view-elem">
                    <h3 class="grid-view-elem-title">
                        <a href="{{ plugin.html_url }}">{{ plugin.name }}</a>
                    </h3>
                    <p class="grid-view-elem-description">{{ plugin.description }}</p>
                </div>
            </div>
        <!--<div class="col-md-3">
            <div class="box box-image">
                <a href="{{ site.url }}/plugins/{{ plugin.name }}" alt="{{ plugin.name }}">
                    <img src="{{ plugin.owner.avatar_url }}" class="image" alt="box image">
                    <h4 class="box-title">{{ plugin.name }}</h4>
                </a>
            </div>
        </div>-->
        {% endfor %}
    </div>
</div>
