private class StoredData
{
    public HashSet<PlayerInfo> Players = new HashSet<PlayerInfo>();

    public StoredData()
    {
    }
}

private class PlayerInfo
{
    public string UserId;
    public string Name;

    public PlayerInfo()
    {
    }

    public PlayerInfo(BasePlayer player)
    {
        UserId = player.userID.ToString();
        Name = player.displayName;
    }
}

private StoredData storedData;

private void Init()
{
    storedData = Interface.Oxide.DataFileSystem.ReadObject<StoredData>("MyDataFile");
}